.igStyleDiv {
	border: 2px solid brown;
	position: fixed;
	float: right;
	right: 100px;
	top: 100px;
	width: 200px;
	height: 600px;
	padding: 10px;
	background-color: yellow;
	overflow:auto;
}

.igStyleSheet {
	border: 1px solid black;
	margin-top:5px;
	margin-bottom:5px;
	background-color:white;
	overflow:hidden;
}

.igCssRule {
	border: 1px solid gray;
	margin-top:5px;
	margin-bottom:5px;
	background-color:lightgray;
	overflow:hidden;
}
