<div class="stylesDiv">
	<div class="styleSheetDiv" ng-repeat="ss in styleSheets" ng-click="toggleStyleInfo($event)">
		{{ss.id}}
		<div style="{{ss.display}}">
			<div class="cssRuleDiv" title="cssRule.selector" ng-repeat="cssRule in ss.cssRules" ng-click="toggleRuleInfo($event)">
				{{cssRule.selector}}
				<div class="classBody" style="{{cssRule.display}}">
					<div>
						<div class="styleContainer" ng-repeat="setting in cssRule.styles">
							<span class="styleSetting">
								<span class="styleName">{{setting.name}}</span><span>: </span>
								<span class="styleValue">{{setting.value}}</span><span>;</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>