<div class="stylesDiv">
	<div class="styleSheetDiv" ng-repeat="ss in styleSheets" ng-click="toggleStyleInfo($event)">
		{{ss.id}}
		<div class="styleSheetBody" style="display: none;">
			<div class="cssRuleDiv" title="cssRule.selector" ng-repeat="cssRule in ss.cssRules" ng-init="initCssRuleObj($event)" ng-click="toggleRuleInfo()">
				{{cssRule.selector}}
				<div class="classBody" style="display:none;">
					<div>
						<div class="styleContainer" ng-repeat="setting in cssRule.styles" ng-click="$event.stopPropagation();">
							<span class="styleSetting">
								<span class="styleName">{{setting.name}}</span><span>: </span>
								<span class="styleValue">{{setting.value}}</span><span>;</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>